<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetaPartial") 
    <title>@ViewData["Title"] - SPAWebSMS.WebApi</title>
    @await Html.PartialAsync("CssPartial")
</head>
<body>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    @await Html.PartialAsync("ScriptPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
